.selfservice-article-preview-image {

    width : 120px;
    height : 120px;
    background : #eee;
}

.selfservice-article-preview-content {

    width : 75%;
    margin-left : 10px;
}

.selfservice-article-preview-content p{
    
    margin-top : 5px;
}

.selfservice-article-list a {

    border-top : 0 !important;
}
