.component.form-login {

    
}
.egce-box-header-close{
    font-family: Arial;
    font-size: 11px;
    height: 28px;
    padding-right: 37px;
    padding-top: 4px;
    text-align: right;
}
    