<div class="top-wrapper">
    <div class="top" section="top"></div>
    <div class="clear"></div>
</div>

<div class="top-lower-wrapper">
	<div class="top-lower" section="top-lower"></div>
</div>

<div class="centers">
    <div class="banner" section="banner"></div>
    <div class="clear"></div>
    <div class="left" section="left"></div>
    <div class="mid" section="mid"></div>
    <div class="right" section="right"></div>
    <div class="clear"></div>
</div>

<div class="bottom" section="bottom"></div>
