.section.top{
    min-height : 70px;
    height: auto !important; 	/* ie hack */
    height: 70px; 				/* ie hack */
}

.section.banner {

    width : 100%;
    margin-bottom : 30px;
}

.section.left{
	
    float : left;
    width : 19%;
    min-height : 500px;
    margin : 0 10px;
}

.section.mid{
	
    float : left;
    width : 55%;
    min-height: 500px;
    overflow : hidden; /* avoid colisions between boxes */
    margin : 0 10px;
    word-wrap : break-word;
}

.section.right{

    float:right;
    width : 19%;
    min-height : 500px;
    margin : 0 0 0 10px;
}
