.component.widget-custom_box {

    
}

.component.widget-custom_box img{

    width : 100%;
}

.component.widget-custom_box h1{

}

.component.widget-custom_box p {

    margin-top : 5px;
    line-height : 20px;
}
